.rdt_Pagination {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.rdt_TableHeadRow {
    background: #17a2b8 !important;
    color: #FFF !important;
}

.rdt_TableCol_Sortable,
.rdt_TableCell {
    font-size: 0.8rem !important;
}

.ftDuba {
    padding: 0px !important;
}

.search {
    padding-right: 0px !important;
}

.sc-tafSX {
    margin: 0 !important;
}

.sc-hCPjmr {
    margin-top: 12px !important;
}

.card-header {
    padding: 0.75rem 1.25rem !important;
}

.table {
    margin-bottom: 0px !important;
}

.btn-secondary,
.btn-danger {
    margin-bottom: 0px !important;
}

.dOTSzF {
    height: 30px !important;
}

.YgTtW svg {
    height: 38px !important;
}

.custom-btn {
    background: transparent !important;
    color: #007bff !important;
    border: none !important;
    font-size: 0.8rem !important;
    margin-bottom: 0px !important;
}

.sc-jlZhRR.isPiMa.rdt_TableCol_Sortable {
    justify-content: center !important;
}

.rdt_TableCell {
    justify-content: center !important;
}

.custom-search {
    height: 32px !important;
    border-radius: 0px !important;
}