.PlaceOrder-box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.PlaceOrder-header {
  border-bottom: 1px solid #f4f4f4;
  padding: 10px 20px;
}

.PlaceOrder-body {
  padding: 10px 20px;
}

// Input feilds

.input-feild-2 {
  display: block;
  width: 100%;
  height: 39px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.lable-2 {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 0px 0px 0px;
}

.btn-post-sale {
  background: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 7px 30px;
  margin:20px 0px;
}
.btn-post-sale:hover{
    opacity: 0.7;
}
