.AccountSettings-box {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.AccountSettings-header {
  padding: 10px 20px;
  border-bottom: 1px solid #f4f4f4;
}
.AccountSettings-body {
  padding: 10px 20px;
}

.wrapper {
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  height: auto;
  margin-top: 10px;
}

.input-box {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de;
}

.input-box input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-box label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 0px 0px 0px;
}

.submit-btn button {
  background: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 7px 30px;
  margin-bottom: 40px;
}

.submit-btn button:hover {
  opacity: 0.7;
}

#emailNotification,
#smsNotification {
  margin-left: -1.25rem !important;
}

.custom-label {
  margin: 2px 0 0 6px;
}