# Rider and VS Code folders
.idea/
.vscode/

# Logs
*.log

# Environment variable files
.env

# Temporary files
*.tmp
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Node modules and build output for React
node_modules/
build/
dist/
.vs/

# Logs for React
src/web/npm-debug.log*
src/web/yarn-debug.log*
src/web/yarn-error.log*

# IDE/editor specific files for React
src/web/*.sublime-project
src/web/*.sublime-workspace
node_modules
